.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
   
}
.container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 10px;

}

.header{
    
}
.topHeader {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    background-color: rgb(47, 47, 47);
   
    ul {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        padding: 0px;
    }

    li a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    ul li a.active {
        color: rgb(50, 146, 214);
    }
}


.main {   
    margin-top: 90px;
}

.footer {   
    background-color: rgb(47, 47, 47);
    color: white;
}